
/* Agency Grass CSS
 * Author: www.siti-drupal.it
 * Thanks to: www.themes-drupal.org
 */

/*********************************** LAYOUT ***********************************/

body{
  font:12px  Arial, Helvetica, sans-serif;
  background:white;
  color:black;
  margin:0;
  padding:0;
  color:#262c06;
}

.fixed{
  width:960px;
  margin:0 auto;
  text-align:left;
}

.clearfix{
  clear:both;
  line-height:0;
  height:0;
}

/* header
------------------------------------------------------------------------------*/

#wrapper{
  background-color:#edf4e2;
  color:#262c06;
  text-shadow:white 0 1px 1px;
}

#header-wrapper{
  height:200px;
  clear:both;
  overflow:hidden;
  width:100%;
  background-image:url(img/header-wrapper_bg.png);
  background-repeat:repeat-x;
  background-position:0 0;
}

#logo{
  display:block;
  float:left;
  height:65px;
  width:290px;
  margin:45px 0 40px 5px;
}

/* page
------------------------------------------------------------------------------*/

#page-wrapper{overflow:hidden}

#main{
  width:640px;
  float:left;
  margin-left:5px;
}

#sidebar{
  width:290px;
  float:right;
}

/* page wrapper
------------------------------------------------------------------------------*/

#page-wrapper{
  border-bottom:1px solid #212121;
  padding:40px 0 20px 0
}

/* bottom
------------------------------------------------------------------------------*/

#bottom-wrapper{
  background-color:#55640a;
  padding:40px 0;
  border-top:1px solid #485509;
  border-bottom:1px solid #485509;
  overflow:hidden;
  color:white;
  text-shadow:#465208 0 1px 1px;
}

#bottom-first{
  width:50%;
  float:left;
}

#bottom-last{
  width:50%;
  float:right;
}

/* footer
------------------------------------------------------------------------------*/

#footer-wrapper{
/*   border-top:1px solid #6695b3; */
  height:100px;
  line-height:100px;
  clear:both;
  overflow:hidden;
  width:100%;
  background-image:url(img/footer-wrapper_bg.png);
  background-repeat:repeat-x;
  background-position:0 0;
  color:#646464;
  text-shadow:none;
}

#footer{padding:0}

/* sidebar blocks
------------------------------------------------------------------------------*/

#sidebar .block .content{
  padding:20px;
  background-image:url(img/block_bg.png);
  background-repeat:repeat-y;
  background-position:0 0;
}

#sidebar .block-bottom{
  background-image:url(img/block-bottom_bg.png);
  background-repeat:repeat-y;
  background-position:0 0;
  display:block;
  width:290px;
  height:12px;
}

/********************************** HEADINGS **********************************/

h1,h2,h3,h4,h5,h6{color:#333b08;}

h3,h4,h5,h6{font-weight:bold}

h1{
  font-size:26px;
  margin-bottom:40px;
  
}

h2{font-size:22px}

#content .node h2.title{margin-bottom:20px}

h3{font-size:16px}

#sidebar .block h3.title{
  display:block;
  width:250px;
  padding:0 20px;
  height:50px;
  line-height:50px;
  background-image:url(img/block-title_bg.png);
  background-repeat:repeat-x;
  background-position:0 0;
  color:white;
  font-size:15px;
  text-shadow:#465208 0 1px 1px;
}

#bottom .block h3.title{
  color:white;
  text-shadow:#465208 0 1px 1px;
  margin-bottom:10px
}

h4{font-size:15px}

h5{font-size:14px}

/*********************************** LINKS ************************************/

a{
  color:#798d13;
  text-decoration:none
}

a:visited{color:#798d13}

li a.active{color:#798d13}

a:hover{text-decoration:underline}

a img{border:none}

h1 a,h2 a, h3 a{color:#798d13}
h1 a:visited,h2 a:visited, h3 a:visited{color:#798d13}



/********************************* TYPOGRAPHY *********************************/

p{
  line-height:1.5em;
  padding-bottom:7px;
}

.page-node #content p{text-align:justify}

#footer p{
  font-size:16px;
  line-height:1.6em;
}

cite{
  padding:10px;
  margin-bottom:7px;
  display:block;
  font-size:14px;
  font-style:normal;
  line-height:22px;
  border:1px solid #758a0d;
  padding:15px;
  background-color:#daecbf;
}

blockquote{
  margin-bottom:7px;
  background-color:#daecbf;
  display:block;
  border:1px solid #758a0d;
  padding:15px;
}

blockquote.contact-hover{background-color:#F5F5FF}

pre{
  border:1px solid #758a0d;
  padding:15px;
  background-color:#daecbf;
  margin-bottom:7px;
  display:block;
  line-height:1.5em;
  white-space:normal;
  margin-bottom:7px;
}

tt, code{
  background-color:#daecbf;
  padding:0 2px
}

table{margin-bottom:10px}

table caption{
  background-color:#F8F7F8;
  padding:5px;
  margin-bottom:1px
}

tbody td{padding:5px}

thead th,
tbody th{
  background-color:#f0eff7;
  padding:5px;
}

thead tr{border-bottom:1px solid white}

tbody td{border-bottom:1px solid #EEEEEF}

tbody th{border-bottom:1px solid white}

tr.odd{background-color:#eff7fa}

tr.even{background-color:#EFEFEF}

li{line-height:1.5em}

li ul,
li ol{margin:0}

ul,
ol{
  margin:0 1.5em 1.5em 0;
  padding-left:1.5em
}

ul{list-style-type:disc}


dl{margin:0 0 1.5em 0}
dl dt{font-weight:bold}
dd{margin-left:1.5em}

img.imgLeft{
  float:left;
  margin-right:8px;
  border:1px solid #f0eff7;
  padding:4px;
}

img.imgRight{
  float:right;
  margin-left:8px;
  border:1px solid #f0eff7;
  padding:4px;
}

img.imgWide{
  padding:9px;
  background-color:#fdfdfd;
  border-top:1px solid #D0DEE6;
  border-bottom:1px solid #D0DEE6;
  padding:9px 0;
  background-color:#fdfdfd;
}

em{font-style:italic}

#credits{float:right;font-size:10px;text-shadow:none;color:#676767}
#credits a{text-shadow:none;color:#676767}

#content .node li{
  background-image:url(img/li.png);
  background-position:0 top;
  background-repeat:no-repeat;
  padding-left:22px;
  line-height:1.5em;
  list-style:none;
  margin-bottom:7px
}
#content .node ul{
  padding-left:0;
  margin-bottom:7px
}

ol,
ol li{list-style-type:decimal}

ol li,
#content .node ol li{
  list-style-type:decimal;
  background:none;
  padding:0
}

/*********************************** TABLES ***********************************/
tbody td{border:0}

/********************************* NAVIGATION *********************************/

#secondary{
  float:right;
  margin-top:5px;
  margin-right:5px;
}

#secondary a{
  font-size:12px;
  color:#00610e
}

#secondary a:visited,
#secondary a:active,
#secondary a.active{color:#00610e}

#primary{
  background-image:url(img/primary_bg.png);
  background-position:0 0;
  background-repeat:no-repeat;
  width:958px;
  height:48px;
  line-height:48px;
  padding:1px;
  clear:both;
}

#primary li{
  display:block;
  height:48px;
  line-height:48px;
  float:left;
}

#primary ul{
  margin-left:10px
}

#primary a{
  color:white;
  font-size:16px;
  background-image:url(img/primary-btn_bg.png);
  background-position:0 0;
  background-repeat:repeat-x;
  padding:0 10px;
  display:block;
  height:48px;
  line-height:48px;
  float:left;
  text-shadow:#465208 0 1px 1px;
}

#primary a:hover,
#primary a.active{
  color:white;
  background-position:0 -48px;
}

/*********************************** NODE *************************************/

#content .node{margin-bottom:40px}

#content img{border:5px solid #a1b051}

#bottom img{border:5px solid #a1b051}


/*********************************** COMMENT **********************************/

.comment{
  background:#E2E8D7;
  padding:20px;
  margin-bottom:30px
}

.comment .submitted{
  color:#555555;
  font-size:10px;
  text-shadow:none;
}
.comment .submitted a{color:#808080}

.comment .meta{
  font-size:11px;
  text-shadow:none;
}

.comment .meta ul.links li{padding:0 15px 0 0}

/*********************************** SIDEBAR **********************************/

#sidebar .block-bottom{margin-bottom:40px}

#sidebar ul.links{padding:0}

#sidebar ul.links li.item{
  display:block;
  font-size:14px;
  line-height:22px;
  padding:0;
}

/*********************************** FORM *************************************/

label{font-weight:bold}

span.cke_skin_kama{
  border:0!important;
  padding:0!important;
}

select,
textarea,
.form-text,
.form-textarea,
.form-select{
  border:1px solid #ccc;
  font:12px Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

input.form-text:focus,
textarea:focus{border:1px solid #758a0d;background-color:#9faf4f}

input{
  font:12px Tahoma,Arial,Helvetica,sans-serif;
  padding:4px;
}

form input{margin-bottom:5px}

form .form-item{margin-bottom:10px}

input.form-submit{
  margin:10px 0;
  cursor:pointer;
  padding:5px;
  color:white;
  font-weight:normal;
  background-color:#879a29;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

input.form-submit:hover{background-color:#758a0d;color:white}

input.form-submit:active{background:#758a0d}

html.js input.form-autocomplete{background-position:100% 6px}

html.js input.throbbing{background-position:100% -14px}

fieldset{
  border:1px solid #6FCFEF;
  margin-bottom:10px;
  padding:5px;
}

fieldset.collapsed{background-color:white}

fieldset li{list-style-position:inside}

.collapsible legend{
  background-image:url(img/arrow-expanded.png);
  padding-right:16px;
  background-position:right 50%;
  background-repeat:no-repeat;
}

.collapsed legend{background-image:url(img/arrow-collapsed.png)}

#contact-mail-page .form-text,
#contact-mail-page .form-textarea{
  width:460px;
  padding:5px;
}

#contact-mail-page .grippie{width:470px}

#edit-copy-wrapper{display:none}

.page-contact #content{
  background-image:url(img/informazioni-siti-drupal.png);
  background-position:550px 55px;
  background-repeat:no-repeat;
  font-size:15px;
}

.page-contact #content form #edit-name-wrapper label{margin-top:20px}

.page-contact #content form .grippie{display:none}

/******************************** SEARCH BLOCK ********************************/

#search-block-form label{display:none}

#search-block-form input.form-text{
  width:190px;
  height:40px;
  padding:0 10px;
  line-height:40px;
  background-image:url(img/search_bar.png);
  background-repeat:no-repeat;
  background-position:0 0;
  float:left;
  margin:0;
  border:0;
  color:#999999
}

#search-block-form input.form-submit{
  width:40px;
  height:40px;
  padding:0 0;
  text-indent:-1000px;
  background-image:url(img/search_btn.png);
  background-repeat:no-repeat;
  background-position:0 0;
  float:right;
  margin:0;
  border:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  color:white;
}

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:active{background-color:none}

#search-block-form div.container-inline{
  width:250px;
  height:40px;
  display:block;
  overflow:hidden;
}

/*********************************** TABS *************************************/

div.tabs{
  clear:both;
  overflow:hidden;
  margin:10px 0;
  border-bottom:2px solid #758a0d;
}

div.tabs ul.tabs.primary{
  clear:both;
  overflow:hidden;
}

div.tabs ul.tabs.secondary{
  clear:both;
  overflow:hidden;
}

div.tabs ul.tabs{font-size:12px}

ul.tabs li a{
  margin:0 5px 0 0;
  padding:6px 6px 4px 6px;
  display:block;
  float:left;
}

ul.tabs li.active a{
  background-color:#758a0d;
  padding:6px 6px 4px 6px;
  margin:0 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  color:white;
  text-shadow:none;
}

ul.tabs li a:hover{
  background-color:#81ceff;
  color:white;
  padding:6px 6px 4px 6px;
  margin:0 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
}

/********************************** BREADCRUMB ********************************/

/*#breadcrumb{
  padding:20px 10px;
  font-size:11px;
  color:#666;
}
#breadcrumb a{
  color:#0077c0
}
*/

/******************************** MESSAGES ************************************/

div.status{
  background-color:#d4ed6e;
  border:1px solid #53A653;
  padding:5px;
  margin:10px 0;
  color:black;
  text-shadow:#ffffff 0 1px 1px
}

div.error,
.messages.error{
  padding:5px;
  margin:10px 0;
  background-color:#ffcccc;
  border:1px solid #D77;
  padding:5px;
  color:black;
  text-shadow:#ffffff 0 1px 1px
}

div.warning{
  padding:5px;
  margin:10px 0;
  background-color:#feb80f;
  border:1px solid #fe8900;
  padding:5px;
  color:black;
  text-shadow:#ffffff 0 1px 1px
}



/* EXTRA */

#switchtheme-submit{margin:0 0 0 10px}
#imageData{padding:0 10px 20px 10px;background-color:white}